<div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
    <div class="card-header">
        <a href="#" data-bs-toggle="modal" data-bs-target="#modal-edit-curso" style="text-decoration: none;"><i class="fa-regular fa-pen-to-square" ></i>
        </a> 
        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" style="text-decoration: none;"><i class="fa-solid fa-trash"></i>
        </a>  {{curso.sigla}}</div>
    <div class="card-body">
        <h4 class="card-title">{{curso.nome}} </h4>
        <p class="card-text">Descrição: {{curso.descricao}}</p>
        <p class="card-text">Área: {{curso.Area.nome}}</p>
    </div>
</div>

<!-- deleção -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Você realmente deseja excluir?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Você está certo de que quer apagar o curso {{curso.nome}}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Desistir</button>
        <button id="deleteButton" type="button" class="btn btn-primary">Excluir</button>
      </div>
    </div>
  </div>
</div>


<!-- update -->
<div class="modal fade" id="modal-edit-curso" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar informações curso</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/curso/update/{{curso.id}}" method="post">
          <p>Atualize o que achar necessário</p>
          <div class="form-group">
            <label for="sigla" class="form-label mt-2">Sigla</label>
            <input type="text" id="sigla" name="sigla" class="form-control" value="{{curso.sigla}}">
          </div>
          <div class="form-group">
            <label for="nome" class="form-label mt-2">Nome do Curso</label>
            <input type="text" id="nome" name="nome" class="form-control" value="{{curso.nome}}">
          </div>

          <fieldset class="form-group">
            <legend class="mt-4">Área de conhecimento</legend>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="areaId" id="areaId1" value="1" checked>
              <label class="form-check-label" for="areaId1">
                Exatas
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="areaId" id="areaId2" value="2">
              <label class="form-check-label" for="areaId2">
                Humanas
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="areaId" id="areaId3" value="3">
              <label class="form-check-label" for="areaId3">
                Biologicas
              </label>
            </div>
          </fieldset>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary mt-3" data-bs-dismiss="modal">Cancelar</button>
            <button id="my-button" class="btn btn-primary mt-3">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<script>
    const deleteButton = document.getElementById("deleteButton");
    deleteButton.onclick = function () {
      apagarCurso({{curso.id}});
    }
</script>